    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><i class="ft-user"></i> 
          Teste
        </h4>
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body mb-0 pb-0">
      <p>testando</p>
    </div>
      
    <div class="modal-footer clearfix">
      <button type="button" class="btn btn-raised btn-success">
        Salvar
      </button>
  
      <button type="button" class="btn btn-raised btn-default">
        Cancelar
      </button>
    </div>
  