<div class="card-content">
  <button pButton type="button" label="Novo Item" (click)="addPanel()"></button>
  <div class="card-body">
    <div class="ui-g-12">
      <p-panel
        draggable="false"
        header="Atividades"
        class="ui-g-12 ui-md-3"
        pDroppable="item"
      >
        <ul>
          <div *ngFor="let item of items" class="border" pDraggable="item">
            <button class="btn btn-default">
              {{ item.id }} - {{ item.responsavel }}
            </button>
          </div>
        </ul>
      </p-panel>
      <form [formGroup]="panelForm">
        <p-panel *ngFor="let panel of panels"></p-panel>
      </form>
    </div>
  </div>
</div>
